HTML, BODY {
  height: 100%;
}

BODY {
  background: #082330;
  background:linear-gradient(#FA8334,#F06449);
  background: #2D2877;
  background:#323648;
  background-size: .12em 100%;
  font: 16em/1 'Proxima nova';
}

.text--line {
  font-size: 0.55em;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.text-copy {
  fill: none;
  stroke: #F06449;
  stroke:#f05d30;
  stroke:#f6f6f6;
  stroke-dasharray: 7% 28%;
  stroke-width: 1px;
  stroke-linecap: round;
  -webkit-animation: stroke-offset 11s infinite ease-in-out;
  animation: stroke-offset 11s infinite ease-in-out;
}


.text-copy:nth-child(1) {
  /*stroke: #f05d30;*/
  stroke-dashoffset: 7%;
}
.text-copy:nth-child(2) {
  /*stroke: #F7FAFF;*/
  stroke:#2D2877;
  stroke:#f6cabc;
  stroke:#f6f6f6;
  stroke-dashoffset: 14%;
}
.text-copy:nth-child(3) {
  /*stroke: #F06449;*/
  stroke-dashoffset: 21%;
}
.text-copy:nth-child(4) {
  /*stroke: #F7FAFF;*/
  stroke:#2D2877;
  stroke:#f6cabc;
  stroke:#f6f6f6;
  stroke-dashoffset: 28%;
}
.text-copy:nth-child(5) {
  /*stroke: #f05d30;*/
  stroke-dashoffset: 35%;
}

.ac{
  height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 45%;
}

img {
  width: 40px;
}

h1 {
  font-size: 30px;
    position: absolute;
    text-align: center;
    display: block;
    width: 100%;
    top: 75%;
    font-weight: 400;
    color: #ababab;
}

@-webkit-keyframes stroke-offset {
  30% {
    stroke-dashoffset: 50%;
    stroke-dasharray: 0 50%;
  }
}

@keyframes stroke-offset {
  30% {
    stroke-dashoffset: 50%;
    stroke-dasharray: 0 50%;
  }
}
